.wrap-form-out-profile {
  width: 100%;
  height: 293px;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
  font-family: 'Noto Sans', sans-serif; }
  .wrap-form-out-profile .box-profile {
    height: 280px;
    padding-bottom: 10px;
    width: 33.3%;
    float: left; }
  .wrap-form-out-profile .add-slide {
    width: 66.66%;
    -webkit-transition: width 0.3s linear;
    transition: width 0.3s linear; }
  .wrap-form-out-profile .profile {
    background-color: #3D3D3D;
    border-right: 1px solid #9D9D9D;
    padding-top: 24px; }
    .wrap-form-out-profile .profile .profile-circle {
      text-align: center; }
      .wrap-form-out-profile .profile .profile-circle img {
        border-radius: 100px;
        padding: 5px;
        border: 1px solid #1CC69C; }
    .wrap-form-out-profile .profile .username-profile {
      text-align: center;
      font-style: normal;
      font-weight: bold;
      line-height: normal;
      font-size: 24px;
      color: #FFFFFF;
      font-family: 'Noto Sans', sans-serif;
      margin-top: 12px; }
    .wrap-form-out-profile .profile .star-rate {
      text-align: center;
      color: #FFFFFF;
      margin-top: 11px;
      font-size: 18px; }
    .wrap-form-out-profile .profile .edit-profile {
      text-align: center;
      margin-top: 33px; }
      .wrap-form-out-profile .profile .edit-profile a {
        text-decoration: none;
        font-family: 'Noto Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 9px;
        letter-spacing: 0.15em;
        color: #1CC69C; }
  .wrap-form-out-profile .profile-info {
    background-color: #3D3D3D;
    padding-top: 24px;
    padding-left: 24px; }
    .wrap-form-out-profile .profile-info .info .title {
      font-style: normal;
      font-weight: bold;
      line-height: 18px;
      font-size: 18px;
      font-family: 'Noto Sans', sans-serif;
      color: #FFFFFF; }
    .wrap-form-out-profile .profile-info .list-info {
      margin-top: 23px; }
      .wrap-form-out-profile .profile-info .list-info ul > li {
        list-style-type: none;
        margin-bottom: 10px;
        font-style: normal;
        line-height: 20px;
        font-size: 14px;
        text-transform: lowercase;
        font-family: 'Noto Sans', sans-serif; }
      .wrap-form-out-profile .profile-info .list-info .label {
        color: #1CC69C; }
      .wrap-form-out-profile .profile-info .list-info .data {
        color: #FFFFFF;
        font-weight: bold;
        line-height: 15px; }
  .wrap-form-out-profile .slider-profiles {
    background: #1CC69C; }
  .wrap-form-out-profile .border-profile-right {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    right: 0;
    -webkit-transition: width 0.3s linear;
    transition: width 0.3s linear;
    display: inline-block;
    height: 280px;
    padding-top: 24px; }
    .wrap-form-out-profile .border-profile-right .btn-slide-profile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      left: -10px;
      width: 100%;
      cursor: pointer; }
      .wrap-form-out-profile .border-profile-right .btn-slide-profile .grab {
        width: 10px;
        height: 40px;
        background-color: #1CC69C;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        position: relative; }
      .wrap-form-out-profile .border-profile-right .btn-slide-profile .grab:before {
        content: '';
        position: absolute;
        width: 0.8px;
        height: 30px;
        margin-top: 5px;
        margin-left: 10px;
        background-color: #ffffff; }
      .wrap-form-out-profile .border-profile-right .btn-slide-profile .grab:after {
        content: '';
        position: absolute;
        width: 0.8px;
        height: 30px;
        margin-top: 5px;
        margin-left: 5px;
        background-color: #ffffff; }
      .wrap-form-out-profile .border-profile-right .btn-slide-profile .title {
        position: relative;
        top: 2px;
        width: 89%;
        left: 5px;
        margin: 0 auto;
        font-style: normal;
        font-weight: bold;
        line-height: 18px;
        font-size: 18px;
        font-family: 'Noto Sans', sans-serif;
        color: #FFFFFF; }
    .wrap-form-out-profile .border-profile-right .wrapper-perform {
      width: 90%;
      height: 80%;
      margin: 0 auto;
      position: relative;
      top: 20%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .wrap-form-out-profile .border-profile-right .wrapper-perform .wrap-Performance {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        position: relative; }
        .wrap-form-out-profile .border-profile-right .wrapper-perform .wrap-Performance .chart {
          width: 90%;
          height: 80%;
          background-color: #ffffff;
          position: absolute;
          right: 0;
          margin-top: 25px;
          border-radius: 5px;
          -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1); }
          .wrap-form-out-profile .border-profile-right .wrapper-perform .wrap-Performance .chart #myChart {
            position: relative;
            top: 8%;
            left: 1%; }
        .wrap-form-out-profile .border-profile-right .wrapper-perform .wrap-Performance .wrap-summary {
          width: 100%;
          height: 30%;
          margin: 0 auto;
          background-color: #ffffff;
          border-radius: 5px;
          margin-top: 25px;
          -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          padding-top: 10px; }
          .wrap-form-out-profile .border-profile-right .wrapper-perform .wrap-Performance .wrap-summary .top {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            width: 80%;
            margin: 0 auto; }
            .wrap-form-out-profile .border-profile-right .wrapper-perform .wrap-Performance .wrap-summary .top .name {
              font-style: normal;
              font-weight: normal;
              line-height: normal;
              font-size: 14px;
              font-family: 'Noto Sans', sans-serif;
              color: #3D3D3D; }
            .wrap-form-out-profile .border-profile-right .wrapper-perform .wrap-Performance .wrap-summary .top .nav-menu {
              color: #C4C4C4; }
          .wrap-form-out-profile .border-profile-right .wrapper-perform .wrap-Performance .wrap-summary .data {
            width: 80%;
            margin: 0 auto; }
            .wrap-form-out-profile .border-profile-right .wrapper-perform .wrap-Performance .wrap-summary .data .num {
              font-style: normal;
              font-weight: bold;
              line-height: normal;
              font-size: 30px;
              font-family: 'Noto Sans', sans-serif;
              color: #3D3D3D; }
            .wrap-form-out-profile .border-profile-right .wrapper-perform .wrap-Performance .wrap-summary .data .name {
              font-style: normal;
              font-weight: normal;
              line-height: normal;
              font-size: 12px;
              font-family: 'Noto Sans', sans-serif;
              color: #3D3D3D;
              position: relative;
              top: -8px;
              left: 10px; }
            .wrap-form-out-profile .border-profile-right .wrapper-perform .wrap-Performance .wrap-summary .data p {
              display: inline; }
      .wrap-form-out-profile .border-profile-right .wrapper-perform .hide {
        display: none; }
      .wrap-form-out-profile .border-profile-right .wrapper-perform .show {
        display: block; }
  .wrap-form-out-profile .border-profile-left {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
